/* 
COLOR CORNER TOP RIGHT 
*/
.colorRibbonArchTopRight {
    position: absolute;
    margin-left: -875rem;
    margin-top: -275rem;
    -ms-transform: rotate(95deg); /* IE 9 */
    transform: rotate(95deg);
    height:100%;
    width: 100%;
    z-index: -1;
  }

.colorRibbonArchRibbonBL {
    position: absolute;
    margin-left: 2900rem;
    margin-top: -775rem;
    -ms-transform: rotate(100deg); /* IE 9 */
    transform: rotate(90deg);
    object-fit: none;
    height: 100px;
    width: 100px;
    z-index: -1;
}

/*
BANNER
*/

.archivistsBanner{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150rem;
}

.archivistsBanner_header{
    font-family:var(--fontBabasNeue);
    text-align:center;
    font-size:50rem;
}

.archivistsBanner_header h1{
    font-size:55rem;
    letter-spacing: 0.1em;
    color: #142F45;
}

.archivistsBanner_header p{
    font-family: var(--fontNeoBulletin);
    text-align:left;
    font-size:25rem;
    width: 800rem;
    margin-left: 75rem;
}

.archivistsBanner_border {
    float: left;
    margin-left: 75rem;
    margin-right: auto;
    margin-bottom: 30rem;
    width: 42.5vw;
    border-top: 10rem solid var(--colorDeepRed); /*high*/
    height: 30rem; /*mid*/
    background-color: var(--colorDeepOrange);
    border-bottom: 10rem solid var(--colorDeepYellow); /*low*/
}

.archivistsBanner_text{
    width: 10rem;
    font-family:var(--fontBabasNeue);
    text-align:center;
    font-size: 15rem;
}

.archivistsBanner_button{
    margin-left:300rem;
}

/* 
VIDEO PLAYER 
*/

.resourceVideoPlayer{
    display: flex;
    justify-content: center;
    margin-top: 100rem;
  }

/*
ARCHIVISTS ICONS
*/
.archivistsBannerIcons{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 100rem;
    margin-left: -100rem;
}

.iconContainer{
    
    margin-left: -100rem;
    margin-right: 100rem;
}

.iconContainer p{
    white-space: pre-line;
    display: block;
    color: #142F45;
    margin-top: 50rem;
    font-size: 30rem;
}

/*
MORE IDEAS CONTAINER
*/

.ideaContainerArchivists{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20rem;
    margin-bottom:40rem;
}

.ideaContainerIcon{
    max-width: 100%;
    margin-left: -150rem;
    margin-top:50rem;
    margin-bottom:30rem;
}

.ideaContainerText{
    font-size: 20rem;
    font-family:var(--fontBabasNeue);
    color: #142F45;
    margin-top: 50rem;
    margin-left: 75rem;
    font-weight: 100;
}