.result-table {
	margin-top: -5rem;
	border-spacing: 0;
	font-family: var(--fontMontserrat);
	/* Same high as map */
	min-height: 400px;
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
}
.result-table thead tr {
	background: #cadfee;
}

.result-table thead tr:hover {
	cursor: pointer;
}

.result-table th {
	/* padding-right: 0rem; */
	font-size: calc(30 * var(--xUnit));
	padding: 15rem 30rem;
	text-align: center;
	border-bottom: 1px solid black;
	width: auto;
	white-space: nowrap;
}

.result-table td {
	/* padding-left: 20rem; */
	font-size: calc(21 * var(--xUnit));
	/* vertical-align: text-top; */
	text-align: left;
	/* word-wrap: break-word; */
	padding: 10rem 30rem;
}

.result-table tr:nth-child(even) {
	background-color: #cadfee;
}

.TableInfor-Left {
	display: flex;
	justify-content: center;
	margin-top: 10rem
  }

  