.nameSearch {
	display: flex;
	/* margin-top: 30rem; */
}

.mappingNWCSearch_bar {
	width: fit-content;
	display: flex;
	padding: 0 0.2em;
}

.mappingNWCSearch_bar > input {
	border: none;
	outline: none;
	border-bottom: 0.1em solid var(--colorLightBlue);
	height: fit-content;
	font-size: 0.7em;
	margin: auto;
	padding-left: 1ch;
	margin-right: 1ch;
}

.mappingNWCSearch_bar > input::placeholder {
	color: lightgray;
}

.mappingNWCSearch_bar > input:focus {
	border-bottom: 0.1em solid var(--colorDeepRed);
}

.mappingNWCSearch_icon {
	background-image: url("./res/searchicon.png");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0;
	cursor: pointer;
	padding:15rem
}

.mappingNWCSearch_icon:hover {
	cursor: pointer;
	color: var(--colorDeepRed);
	transform: scale(1.05);
}

.errorMessage {
	display: flex;
	align-items: center;
	font-size: 25rem;
}

.suggestions {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .suggestions li {
	background-color: #f0f0f0; /* Gray background for suggestions */
	padding: 8px;
	cursor: pointer;
  }
  
  .suggestions li.selected {
	background-color: #c0c0c0; /* Gray background for the selected suggestion */
  }

  /* .autoSearch {
  } */
  .autoSearch-inputContainer{
	  display: flex;
	  border: #c0c0c0 1px solid;
	  border-radius: 5px;
	  padding: 10px;

	}
  .autoSearch-inputContainer input {
	border: none;
	outline: none;
	border-bottom: 0.1em solid var(--colorLightBlue);
	font-size: 16px;
	/* padding: 8px; */
  }
  .autoSearch-inputContainer span {
	color: #888888;
	font-size: 16px;
	/* font-size: 20em; */
  }