.nameSearch {
	display: flex;
	/* margin-top: 30rem; */
}

.mappingNWCSearch_bar {
	width: fit-content;
	display: flex;
	padding: 0 0.2em;
}

.mappingNWCSearch_bar > input {
	border: none;
	outline: none;
	border-bottom: 0.1em solid var(--colorLightBlue);
	height: fit-content;
	font-size: 0.7em;
	margin: auto;
	padding-left: 1ch;
	margin-right: 1ch;
}

.mappingNWCSearch_bar > input::placeholder {
	color: lightgray;
}

.mappingNWCSearch_bar > input:focus {
	border-bottom: 0.1em solid var(--colorDeepRed);
}

.mappingNWCSearch_icon {
	background-image: url("./res/searchicon.png");
	background-size: contain;

	background-repeat: no-repeat;
	border-radius: 0;
	cursor: pointer;
}

.mappingNWCSearch_icon:hover {
	cursor: pointer;
	color: var(--colorDeepRed);
	transform: scale(1.05);
}

.errorMessage {
	display: flex;
	align-items: center;
	font-size: 25rem;
}
