.OralHistories_NWC_container {

  .reflection {
    		text-align: center;
        margin-bottom: 2%;
  }
	.item {
		align-items: center;

}
}

.OralHistories_Featured_container {
    display: flex;
    flex-direction: column;
    padding-top: 3%; 
    padding-bottom: 5em; /* Adjust the em value as needed */
    min-height: 100%;

    .header-container {
        font-size: 48px;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin-bottom: 40rem;
    }

}

.OralHistories_Voice_container {
    margin-bottom: 5em; /* to make space for footer */
    display: flex;
    flex-direction: column;
    background-color: $color-beige;
    position: relative; /* Make the container a positioning context */

    /* Add a red bottom border */
    border-bottom: 30rem solid #B22524;

    .centered-text {
        text-align: center;
        font-size: 80rem;
        padding: 1em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1; /* Place the text on top of the images */
    }

    .item {
        display: flex;
        position: relative; /* Make the item a positioning context */

        .item-left,
        .item-right {
            flex: 1;
            text-align: center;
            position: relative; /* Make the item a positioning context */
            width: 100%; /* Set width to 100% to take full width */
            display: flex;
            flex-direction: column;

            /* Vertically align items at the bottom */
            justify-content: flex-end;

            /* Set background image and control size and position */
            background-size: 40%; /* Adjust to your preference */
            background-repeat: no-repeat; /* Prevent background images from repeating */
            
                img {
                    width: 100%;
                    object-fit: contain;
                }
        }

        .item-left {
            background-image: url("res/red_dots_decor.png");
        }

        .item-right {
            background-image: url("res/blue_dots_decor.png");
			background-position: right top; /* Align at the bottom right */

            p {
                font-size: 40rem;
                padding: 0.5em 1em;
                font-family: $fontBabasNeue;
    
                position: absolute;
                right: 0;
    
                background-color: $color-blue-deep;
                color: $color-beige;
                margin-bottom: -0.01em
            }
        }
    }
}

.tab-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 999rem;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 300rem;
  margin-right: 300rem;
  border: 4rem solid #000000;
  z-index: 1
}

.tab-column {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
      top: -3rem;

  &.left {
    align-items: flex-end;
    left: -146rem;
  }

  &.right {
    align-items: flex-start;
    right: -146rem;

  }
  
}

.tab-button {
  all: unset; // Reset all inherited styles (especially from global button styles)
  width: 100rem; 
  height: 120rem; 
  text-align: center;
  font-family: 'babas_neue', 'normal';
  font-size: 22rem;
  background-color: var(--colorDarkBlue);
  color: white;
  border: 4rem solid #000000;
  padding: 20rem;
  cursor: pointer;

  &:hover {
    background-color: #235da3;
  }

  &.active {
    background-color: #ffffff;
    color: #000000;
  }
  &.left-tab {
    border-radius: 25rem 0 0 25rem;
    border-right: none;
    
  }

  &.right-tab {
    border-radius: 0 25rem 25rem 0;
        border-left: none;


  }
}

.all-tab {
  position: absolute;
  top: -98rem;       // adjust based on button height and spacing
  left: 0rem;     // match your left tab column offset
  width: 200rem;
  height: 50rem;
  font-size: clamp(16rem, 2vw, 30rem);
  background-color: var(--colorDarkBlue);
  color: white;
  border-radius: 12rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25rem 25rem 0 0;
  cursor: pointer;

  &:hover {
    background-color: #1e4a80;
  }

  &.active {
    background-color: #ffffff;
    color: #000000;
  }
}

