.participants {
    font-size: calc(16px + 1vw);
    font-family: var(--fontBabasNeue);
    padding: 1em 0;
    color: var(--colorDarkBlue);
}

.participants a {
    color: var(--colorDeepRed);
}

.backToDiscover{
    padding-left: 2em;

}

.participants a:hover {
    text-decoration: underline;
}

.participants > h1 {
    text-align: center;
    margin-bottom: 1em;
}

.participantsOptions {
    display: flex;
    /* width: fit-content; */
    padding-right: 2em;
    padding-left: 2em;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-between;
    
}

.participantsFilter {
    display: flex;
    
    /* float: left;  */
}

#select{
    padding-left: 2em;
}

.participantsDownloadButton {
    float: right;
}

.participantsList {
    /* display: flex;
    flex-flow: column wrap; */
    /* background-color: rgba(117, 178, 224, .3); */
    padding: 2em;
    /* width: 80%; */
    margin: auto;
    /* font-family: var(--fontMontserrat);
    font-size: .6em; */
    /* max-height: 800em; */
}

.participantContainer{
    /* display: flex;
    flex-flow: column wrap; */
    columns: 3;
    background-color: rgba(117, 178, 224, .3);
    padding: .5em;
    margin: auto;
    /* margin: auto; */
    
}

.participantContainer > ul{
    display: flex;
    flex-flow: column wrap;
    font-family: var(--fontMontserrat);
    font-size: .5em;
    /* max-height: 800em; */
    /* background-color: rgba(117, 178, 224, .3); */
}

