/* 
COLOR CORNER TOP RIGHT 
*/
.colorRibbonTR {
    position: absolute;
    margin-left: 1200rem;
    margin-top: -1000rem;
    height:100%;
    width: 100%;
    z-index: -1;
  }

.colorRibbonBL {
    position: absolute;
    margin-left: -700rem;
    margin-top: -700rem;
    object-fit: none;
    height: 100px;
    width: 100px;
    z-index: -1;
}

/*
BANNER
*/

.archivistsBanner{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150rem;
}

.archivistsBanner_header{
    font-family:var(--fontBabasNeue);
    text-align:center;
    font-size:50rem;
}

.archivistsBanner_header h1{
    font-size:55rem;
    letter-spacing: 0.1em;
    color: #142F45;
}

.archivistsBanner_header p{
    text-align:left;
    font-size:25rem;
    width: 800rem;
    margin-left: 75rem;
}

.archivistsBanner_border {
    float: left;
    margin-left: 75rem;
    margin-right: auto;
    margin-bottom: 30rem;
    width: 45.5vw;
    border-top: 10rem solid var(--colorDeepRed); /*high*/
    height: 30rem; /*mid*/
    background-color: var(--colorDeepOrange);
    border-bottom: 10rem solid var(--colorDeepYellow); /*low*/
}

.archivistsBanner_text{
    width: 10rem;
    font-family:var(--fontBabasNeue);
    text-align:center;
    font-size: 15rem;
}

.archivistsBanner_button{
    margin-left:300rem;
}

/* 
VIDEO PLAYER 
*/

.resourceVideoPlayer{
    display: flex;
    justify-content: center;
    margin-top: 100rem;
  }

/*
ARCHIVISTS ICONS
*/
.archivistsBannerIcons{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 100rem;
    margin-left: 300rem;
}

.iconContainer p{
    white-space: pre-line;
    display: block;
    color: #142F45;
    margin-top: 50rem;
    font-size: 30rem;
}

/*
MORE IDEAS CONTAINER
*/

.ideaContainer{
    font-family:var(--fontBabasNeue);
    text-align:center;
    float:left;
    padding: 30rem;
}
.ideaContainer img{
    max-width: 100%;
    height: auto;
    margin-left: 500rem;
    display: block;
}

.ideaContainer h1 {
    margin-right: 600rem;
    margin-top:135rem;
    font-size: 40rem;
    font-family:var(--fontBabasNeue);
    text-align:center;
}