
.banner{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:150rem;
    justify-content:center;
}

/* .banner_button{
    margin-left:300rem;
} */

.banner_header{
    font-family:var(--fontBabasNeue);
    text-align:center;
    font-size:50rem;
}

.banner_header h1{
    font-size:55rem;
    letter-spacing: 0.1em;
    color: #142F45;
}

.banner_header p{
    font-family: var(--fontNeoBulletin);
    text-align:left;
    font-size:25rem;
    width: 33em;
    margin-left: 75rem;
}

.banner_border {
    float: left;
    margin-left: 75rem;
    margin-right: auto;
    margin-bottom: 30rem;
    width: 42.5vw;
    border-top: 10rem solid var(--colorDeepRed); /*high*/
    height: 30rem; /*mid*/
    background-color: var(--colorDeepOrange);
    border-bottom: 10rem solid var(--colorDeepYellow); /*low*/
}

@media(max-width:800px){
    .banner_button img{
        max-width: 900rem;
    }
}