.item_pin {
    align-items: center;
    background-color: white;
    width: 45vw;
    &:hover {
      transform: scale(1.01);
    }
  
    img {
      width: 20vw;
    }

    p {
      font-family: 'neobulletin', 'normal';
      color: var(--colorDarkBlue);
      font-size: 24rem;
      font-weight: bold;
    }
    
  }
  