/* ParticipantsTable.scss */

.options-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    /* Button styles for .options-table */
    button {
        background: none; /* Remove the background to make text visible */
        border: none;
        color: black; /* Change text color to black */
        cursor: pointer;
        
    }

    button:disabled {
        color: gray; /* Adjust text color for disabled buttons */
    }
    

    .header-cell {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
        padding: 8px;
    }
    

    /* Style for selected (bold) option */
    .bold {
        font-weight: bold;
    }
}

.participants-table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%; /* Set the table width to 100% */
    
    td {
        border: none;
        padding: 2em 1em 2em 2em;
        text-align: center;
        font-family: $fontBabasNeue;
        font-size: 1.5em;
    }

    img {
        width: 100%; /* Set the image width to 100% */
        max-width: 180px; /* Optionally, set a max width for the images */
        height: auto; /* Automatically adjust the height to maintain aspect ratio */
        max-height: 180px;
        border-radius: 50%; /* Make the image circular */
        object-fit: cover;
    }
}

.select {
    width: 12em;
    opacity: 1; /* Set opacity to 100% (fully opaque) */
    
    .select__placeholder {
        text-align: left;
    
        color: black; /* Set the color to black for the placeholder text */
        opacity: 1; /* Set the opacity to 100% (fully opaque) */
      }

      .select__menu {
        text-align: left;
      }
}


